body{
    background-color: pink;
}
h1{
    text-align: center;
    text-decoration:wavy;
    text-decoration: underline;
    background-color: chartreuse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 100%;
}
h2{
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-size: 4vw;
    background-color: beige;
}
#contList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list{
    background-color: aquamarine;
    border: 2px purple solid;
    width: 18vw;
    height:10vw;
    text-align: center;
    font-size: 2vw;
}
.they{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}
.theBoy{
    background-color: aquamarine;
    width:33%;
}
.home{
    width:50%;
    font-size: 2vw;;
}
.smol{
    display: block;
    width: 20%;
    height:auto;
    margin-left: 63%;
    margin-right: auto;
    margin-top: -25vw;
    border:3px purple solid;
}
.long{
    display:flex;
    margin:20px;
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}